<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/templates/lib/DAN/DAN.css" type="text/css" />
<link rel="stylesheet" href="/templates/lib/contextmenu/contextmenu.css" type="text/css" />
<link rel="stylesheet" href="/templates/system/css/style.css" />
<script src="/templates/lib/DAN/DAN.js"></script>
<script src="/templates/lib/contextmenu/contextmenu.js"></script>
<title>Тестовая веб-сайт страница</title>
</head>
<body>
	<header>
		<div>
			<a href="/system/" class="header_block">
				<svg><use xlink:href="/templates/system/svg/sprite.svg#home"></use></svg>
				<div>Главная</div>
			</a>
		</div>
		<div>22222</div>
		<div class="flex_row">
			<a href="/" target="blank" class="header_block">
				<svg><use xlink:href="/templates/system/svg/sprite.svg#eye"></use></svg>
				<div>Просмотр</div>
			</a>
		</div>
	</header>
    <section>
		{% if AUTH != 1 %}
			<div class="form_auth">
				<form method="post" action="/system/login">
					<div><input class="input" type="email" name="email" placeholder="email"></div>
					<div><input class="input" type="password" name="psw" placeholder="password" required></div>
					<div><input class="form_auth_submit" type="submit" name="submit" value="Вход"></div>
				</form>
			</div>
		{% else %}
			{{ content | safe }}
		{% endif %}
    </section>
    <footer>
        <div> </div>
    </footer>

</body>

<body>

</body>
</html>







