<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<link rel="stylesheet" href="/templates/index/css/style.css" />
<title>Тестовая веб-сайт страница</title>
</head>
<body style="">
    <header>
        <div class="w1200 wrap flex_row">
            <div class="header_left"><a href="/" class="header_title">Союз</a><a href="/" class="header_subtitle"></a></div>
            <div class="header_center"></div>
            <div class="header_right">
                <div class="mod_authorization_container">
                    <div id="mod_authorization_button_login" class="mod_authorization_button">Войти</div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="mainpage_container">
            <div class="wrap w1200 flex_between mainpage_wrap">
                <div class="mainpage_block">
                    <div>
                        <div class="mainpage_title">Разработка чат-бота</div>
                        <div>
                            <br><i class="mainpage_text" style="font-size: 24px;">Разработка функционала чат-ботов, который помогает пользователям с повседневными задачами</i></div>
                        <!--<table style="margin-top:30px;">
                            <tbody>
                                <tr>
                                    <td style="height:50px; width:50px">
                                        <svg class="mainpage_icon">
                                            <use xlink:href="/lib/svg/sprite.svg#pipline_1"></use>
                                        </svg>
                                    </td>
                                    <td><span style="font-size:18px"><span style="color:#ffffff">Информация о трассах</span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:50px">
                                        <svg class="mainpage_icon">
                                            <use xlink:href="/lib/svg/sprite.svg#pipline_2"></use>
                                        </svg>
                                    </td>
                                    <td><span style="font-size:18px"><span style="color:#ffffff">Объекты, сведения</span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:50px">
                                        <svg class="mainpage_icon">
                                            <use xlink:href="/lib/svg/sprite.svg#monitoring"></use>
                                        </svg>
                                    </td>
                                    <td><span style="font-size:18px"><span style="color:#ffffff">Получение данных с датчиков на основе Iot (интернет вещей)</span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:50px">
                                        <svg class="mainpage_icon">
                                            <use xlink:href="/lib/svg/sprite.svg#alarm"></use>
                                        </svg>
                                    </td>
                                    <td><span style="font-size:18px"><span style="color:#ffffff">Контроль несанкционированного доступа (Iot)</span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:50px">
                                        <svg class="mainpage_icon">
                                            <use xlink:href="/lib/svg/sprite.svg#map"></use>
                                        </svg>
                                    </td>
                                    <td><span style="font-size:18px"><span style="color:#ffffff">Карта с отображением трасс, узлов, объектов</span></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                        <table style="margin-top:30px;">
                            <tbody>
                                <tr>
                                    <td><a class="button_custom" href="/help" style="text-align:center;">Помощь</a></td>
                                    <td style="width:10px">&nbsp;</td>
                                    <td><a class="button_light" href="/map">Карта</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
				<div class="mainpage_img"><img alt="Django" src="/media/mainpage_img.jpg"></div>				
            </div>
			<div class="wave-gray"></div>
	   </div>
	   <div class="gray_container">
		   <div class="w1200 flex_row p_40_20">
				<div class="white_element"></div>
				<div class="white_element"></div>
				<div class="white_element"></div>
				<div class="white_element"></div>
			</div>
		</div>
		<div class="wave-gray-bottom"></div>
		<div class="white_container">
			<div class="w1200 flex_row p_40_20">
				<div class="gray_element"></div>
				<div class="gray_element"></div>
			</div>
		</div>
    </section>
    <footer>
        <div>Команда "Союз", "Цифровой прорыв"</div>
		<div>Текст, {{test_1}} текст, {{test_2}} текст</div>
    </footer>

</body>

<body>

</body>
</html>







